@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Noto+Serif+Oriya:wght@400;500;600;700&family=Poppins:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap');

:root {
  --contact-rotation: 0;
}
html {
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  font-size: 62.5%;
  font-style: normal;
  scroll-behavior: smooth;
  overflow-x: hidden;
  position: relative;
  &.no-scroll {
    overflow: hidden;
    height: 100vh;
    &.body-padding {
      @media screen and (hover) {
        padding-right: 17px;
      }
      .body--before {
        @media screen and (hover) {
          width: calc(50% + (17px / 2));
        }
      }
      .container__right {
        @media screen and (hover) {
          width: calc(50% + (17px / 2));
        }
      }
      &-thin {
        @media screen and (hover) {
          padding-right: 15px;
        }
        .body--before {
          @media screen and (hover) {
            width: calc(50% + (15px / 2));
          }
        }
        .container__right {
          @media screen and (hover) {
            width: calc(50% + (15px / 2));
          }
        }
      }
    }
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@keyframes loadPageContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loadHeight {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
body {
  margin: 0;
  // padding-top: 80px;
  text-size-adjust: 100%; // iOS on orientation change
  color: $black;
  font-family: $fontFamilyPrimary;
  font-weight: $fontWeightMedium;
  font-size: 1.6rem;
  line-height: 2.3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  backface-visibility: hidden;
  overflow-x: hidden;
  color: $white;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background: black;
  font-family: 'Inter', sans-serif;
  // opacity: 0;
  // animation: loadPageContent 0.3s 7.5s ease-in-out forwards;
  &::before {
    // content: "";
    width: 50%;
    height: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: $white;
    animation: loadHeight 1s 8.5s forwards;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    @include tabletP {
      opacity: 1;
      pointer-events: all;
      visibility: visible;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif Oriya', serif;
  line-height: 1.2;
}

a,
label,
.button {
  -webkit-tap-highlight-color: transparent;
}

button {
  font-family: $fontFamilyPrimary;
}

img, picture {
  display: block;
  max-width: 100%;
  height: auto;
}
picture {
  source, img {
    object-fit: cover;
    height: 100%;
  }
}

// placeholders
input,
textarea,
select {
  &::-webkit-input-placeholder {
    color: $black;
  }

  &::-moz-placeholder {
    opacity: 1;
    color: $black;
  }

  &:-ms-input-placeholder {
    color: $black;
  }
}

strong {
  font-weight: $fontWeightBold;
}


html {
  --content: "Ship.";
  --padding: 0.05em;
  --start-color: #FF4D4D;
  --end-color: #F9CB28;
  min-height: 400vh;
}

@keyframes imageAnimation {
  0% {
    filter: grayscale(1);
  }
  10% {
    filter: grayscale(0.9);
  }
  20% {
    filter: grayscale(0.8);
  }
  30% {
    filter: grayscale(0.7);
  }
  40% {
    filter: grayscale(0.6);
  }
  50% {
    filter: grayscale(0.5);
  }
  60% {
    filter: grayscale(0.4);
  }
  70% {
    filter: grayscale(0.3);
  }
  80% {
    filter: grayscale(0.2);
  }
  90% {
    filter: grayscale(0.1);
  }
  100% {
    filter: grayscale(0);
  }
}

img {
  // animation: imageAnimation 4s infinite alternate;
  // filter: grayscale(1);
}

// scrollbar ma być taki jak na macu (globalnie ostylowany)