$white: #fff;
$black: #000;
$pink: #f81ce5;
$lighterPink: #FF0080;
$lightPink: #f80759;
$darkPink: #89216B;
$violet: #7928ca;
$lightViolet: #bc4e9c;
$lightRed: #DA4453;
$red: #dd1818;
$green: #15ee11;
$lightGreen: #38ef7d;
$darkGreen: #11998e;
$lightBlue: #40E0D0;
$yellow: #fdc830;
$orange: #f37335;
$orangeSecondary: #FF8C00;

$gradientFrom: #FC5C7D;
$gradientTo: #6A82FB;

$gradientFrom2: #FC466B;
$gradientTo2: #3F5EFB;

$gradientFrom3: #c94b4b;
$gradientTo3: #4b134f;


$gradientFrom4: #23074d;
$gradientTo4: #cc5333;

$gradientFrom5: #00F260;
$gradientTo5: #0575E6;
