$white: #fff;
$black: #000;
$pink: #f81ce5;
$lighterPink: #ff0080;
$lightPink: #f80759;
$darkPink: #89216b;
$violet: #7928ca;
$lightViolet: #bc4e9c;
$lightRed: #da4453;
$red: #dd1818;
$green: #15ee11;
$lightGreen: #38ef7d;
$darkGreen: #11998e;
$lightBlue: #40e0d0;
$yellow: #fdc830;
$orange: #f37335;
$orangeSecondary: #ff8c00;

$gradientFrom: #fc5c7d;
$gradientTo: #6a82fb;

$gradientFrom2: #fc466b;
$gradientTo2: #3f5efb;

$gradientFrom3: #c94b4b;
$gradientTo3: #4b134f;

$gradientFrom4: #23074d;
$gradientTo4: #cc5333;

$gradientFrom5: #00f260;
$gradientTo5: #0575e6;
