$white: #fff;
$black: #000;
$pink: #f81ce5;
$lighterPink: #ff0080;
$lightPink: #f80759;
$darkPink: #89216b;
$violet: #7928ca;
$lightViolet: #bc4e9c;
$lightRed: #da4453;
$red: #dd1818;
$green: #15ee11;
$lightGreen: #38ef7d;
$darkGreen: #11998e;
$lightBlue: #40e0d0;
$yellow: #fdc830;
$orange: #f37335;
$orangeSecondary: #ff8c00;

$gradientFrom: #fc5c7d;
$gradientTo: #6a82fb;

$gradientFrom2: #fc466b;
$gradientTo2: #3f5efb;

$gradientFrom3: #c94b4b;
$gradientTo3: #4b134f;

$gradientFrom4: #23074d;
$gradientTo4: #cc5333;

$gradientFrom5: #00f260;
$gradientTo5: #0575e6;

// grid
$columnCount: 18;

$gridGutterMobile: 0.4rem;
$gridGutterTabletP: 0.8rem;
$gridGutterTabletL: 0.8rem;
$gridGutterDesk: 5rem;

// container padding
$gridSpacerMobile: 2.5rem;
$gridSpacerTabletP: 3rem;
$gridSpacerTabletL: 3rem;
$gridSpacerDesk: 5rem;

// breakpoints
$breakpointTabletP: 768px; // portrait
$breakpointTabletL: 1024px; // landscapee
$breakpointDesk: 1366px;
$breakpointDeskHD: 1920px;

// fonts
$fontFamilyPrimary: "Arial";
$fontWeightNormal: normal;
$fontWeightMedium: 500;
$fontWeightBold: bold;

// transition
$transition-base: 0.3s ease-in-out;

$tabletTextWidth: 45.2rem;
$deskTextWidth: 48.9rem;
$deskLTextWidth: 71rem;
